
ul {
  list-style-type: none;
  display:flex;
  color:rgb(32, 32, 32);
  justify-content: space-around;
  width: 20vw;

}

/* Change the link color to #111 (black) on hover */
li:hover {
  background-color: azure;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: rgb(32, 32, 32)
}
#country_info{
  border-style: solid;
  height: 30vh;
  border-color: grey;
  border-style: outset;
  width: 80vw;
  padding: 1vw;
}
#container{
  width: 90vw;
  height: 40vh;
  margin-top: 2vh;
  padding: 3vh;
  align-items:stretch;
}
.App{
  display: flex;
  justify-content: center;
}
#header{
  display: flex;
  flex-direction: row;
  width: 40vw;
}
#content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;
  width: 80vw;
}
#borders{
  display: flex;
  flex-direction: row;
}
#currency-container{
  background-color: white;
  border-color: grey;
  display: flex;
  flex-direction: column;
  border-style: outset;
  padding: 10px;
}
#airports-container{
  background-color: white;
  border-color: grey;
  border-style: outset;
  padding: 10px;
}
#selectcurr{
  width: 50vw;
  height:5vh;
  margin: 1vw;
}
#country-dropdown{
  width: 80vw;
  height:7vh;
  margin: 1vw;
}
#country-dropdown:hover{
  cursor: pointer;
}
#border-container{
  display: flex;
}
#navigation{
  background-color: white;
}
#currencyfooter{
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: space-evenly;
  align-items: center;
}
#flagid{
  font-size: 1.9rem;
}